/* navigation bar */

.my_navbar {
    padding: 20px;
    background-color: #333;
}

.navbar_link {
    color: white;
    text-align: center;
    font-size: 20px;
    padding: 5px;
}

/* footer */

footer {
    background-color: #333;
}

.footer_text {
    color: white;
    text-align: center;
    font-size: 25px;
    padding: 20px;
    margin-top: 10px;
}
