<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drug Profiles: About</title>
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="static/about.css">
    <!-- Import Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="container-fluid my_navbar">
        <div class="row">
            <div class="row">
                <div class="col-auto offset-1">
                    <div class="navbar_link">Image</div>
                </div>
                <div class="col-auto">
                    <a role = 'button' href="{{ url_for('home') }}">
                        <div class="navbar_link">Home</div>
                    </a>
                </div>
                <div class="col-auto">
                    <div class="navbar_link">About</div>
                </div>
                <div class="col-auto">
                    <a role = 'button' href="{{ url_for('conditions') }}">
                        <div class="navbar_link">Conditions/Addictions</div>
                    </a>
                </div>
                <div class="col-auto">
                    <a role = 'button' href="{{ url_for('drugs') }}">
                        <div class="navbar_link">Drugs/Medications</div>
                    </a>
                </div>
                <div class="col-auto">
                    <a role = 'button' href="{{ url_for('side_effects') }}">
                        <div class="navbar_link">Side-Effects</div>
                    </a>
                </div>
            <form class="col-auto offset-1">
                <div class="input-group">
                    <input type="search" class="form-control" placeholder="Search">
                    <button class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </nav>
    <main>
        <h1>About Drug Profiles</h1>
        <h2>What is Drug Profiles?</h2>
        <p>About Drug Profiles...</p>
        <h2>Another Question?</h2>
        <h2>Another Question?</h2>
        <h1>Group Members:</h1>
        <div class="container"> <div class="row row-cols-2 g-4">
            <div class="col">
                <div class="member">
                    <h4>Matthew Larson</h4>
                    <img src="matthew_image_path.jpg" alt="Image of Mathew">
                    <h6>Email: </h6>
                    <h6>GitLab ID: </h6>
                    <p>About...</p>
                    <div class="container"><div class="row">
                        <div class="col"><p>Commits:</p></div>
                        <div class="col"><p>Issues:</p></div>
                        <div class="col"><p>Unit Tests:</p></div>
                    </div></div>
                </div>
            </div>
            <div class="col">
                <div class="member">
                    <h4>Rayan Ali</h4>
                    <img src="rayan_image_path.jpg" alt="Image of Rayan">
                    <h6>Email: </h6>
                    <h6>GitLab ID: </h6>
                    <p>About...</p>
                    <div class="container"><div class="row">
                        <div class="col"><p>Commits:</p></div>
                        <div class="col"><p>Issues:</p></div>
                        <div class="col"><p>Unit Tests:</p></div>
                    </div></div>
                </div>
            </div>
            <div class="col">
                <div class="member">
                    <h4>Sam Lu</h4>
                    <img src="image_path.jpg" alt="Image of Sam">
                    <h6>Email: samlu@utexas.edu</h6>
                    <h6>GitLab ID: samlu1 </h6>
                    <p>I am a 2nd year CS major and I am interested in exploring AI/ML and Full-Stack. In my free time, I play the piano, tennis, table tennis, and video games. I'm also involved in UT Austin's Electronic Game Developers Society.</p>
                    <div class="container"><div class="row">
                        <div class="col"><p>Commits:</p></div>
                        <div class="col"><p>Issues:</p></div>
                        <div class="col"><p>Unit Tests:</p></div>
                    </div></div>
                </div>
            </div>
            <div class="col">
                <div class="member">
                    <h4>Brandon Boettcher</h4>
                    <img src="brandon_img.jpg" alt="Image of Brandon">
                    <h6>Email: boettcherb@utexas.edu</h6>
                    <h6>GitLab ID: boettcherb</h6>
                    <p>About...</p>
                    <div class="container"><div class="row">
                        <div class="col"><p>Commits:</p></div>
                        <div class="col"><p>Issues:</p></div>
                        <div class="col"><p>Unit Tests:</p></div>
                    </div></div>
                </div>
            </div>
        </div> </div>
        <h2>Overall Stats:</h2>
        <div class="container"><div class="row">
            <div class="col-1"><p>Commits:</p></div>
            <div class="col-1"><p>Issues:</p></div>
            <div class="col-1"><p>Unit Tests:</p></div>
        </div></div>
        <h2>Tools Used:</h2>
        <div class="container"><div class="row">
            <div class="col">
                <div class="tool">
                    Flask
                    <!-- <img> Flask Logo -->
                </div>
            </div>
            <div class="col">
                <div class="tool">
                    Postman
                    <!-- <img> Postman Logo -->
                </div>
            </div>
            <div class="col">
                <div class="tool">
                    Bootstrap</div>
                    <!-- <img> Bootstrap Logo -->
            </div>
            <div class="col">
                <div class="tool">
                    AWS
                    <!-- <img> AWS Logo -->
                </div>
            </div>
            <div class="col">
                <div class="tool">
                    NameCheap
                    <!-- <img> NameCheap Logo -->
                </div>
            </div>
            <div class="col">
                <div class="tool">
                    Zoom
                    <!-- <img> Zoom Logo -->
                </div>
            </div>
        </div></div>
    </main>
    <footer>
        <div class="footer_text">Footer Text</div>
    </footer>
</body>
</html>
