<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drug Profiles: Drugs / Medications</title>
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="static/models.css">
    <!-- Import Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="container-fluid my_navbar">
        <div class="row">
            <div class="row">
                <div class="col-auto offset-1">
                    <div class="navbar_link">Image</div>
                </div>
                <div class="col-auto">
                    <a role = 'button' href="{{ url_for('home') }}">
                        <div class="navbar_link">Home</div>
                    </a>
                </div>
                <div class="col-auto">
                    <div class="navbar_link">About</div>
                </div>
                <div class="col-auto">
                    <a role = 'button' href="{{ url_for('conditions') }}">
                        <div class="navbar_link">Conditions/Addictions</div>
                    </a>
                </div>
                <div class="col-auto">
                    <a role = 'button' href="{{ url_for('drugs') }}">
                        <div class="navbar_link">Drugs/Medications</div>
                    </a>
                </div>
                <div class="col-auto">
                    <a role = 'button' href="{{ url_for('side_effects') }}">
                        <div class="navbar_link">Side-Effects</div>
                    </a>
                </div>
            <form class="col-auto offset-1">
                <div class="input-group">
                    <input type="search" class="form-control" placeholder="Search">
                    <button class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </nav>
    <main>
        <h1>Drugs / Medications</h1>
        <div class="container">
            <div class="row row-cols-5 g-4">
                <div class="col"> <div class="instance">Instance 1</div> </div>
                <div class="col"> <div class="instance">Instance 2</div> </div>
                <div class="col"> <div class="instance">Instance 3</div> </div>
                <div class="col"> <div class="instance">Instance 4</div> </div>
                <div class="col"> <div class="instance">Instance 5</div> </div>
                <div class="col"> <div class="instance">Instance 6</div> </div>
                <div class="col"> <div class="instance">Instance 7</div> </div>
                <div class="col"> <div class="instance">Instance 8</div> </div>
                <div class="col"> <div class="instance">Instance 9</div> </div>
                <div class="col"> <div class="instance">Instance 10</div> </div>
                <div class="col"> <div class="instance">Instance 11</div> </div>
                <div class="col"> <div class="instance">Instance 12</div> </div>
                <div class="col"> <div class="instance">Instance 13</div> </div>
                <div class="col"> <div class="instance">Instance 14</div> </div>
                <div class="col"> <div class="instance">Instance 15</div> </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="footer_text">Footer Text</div>
    </footer>
</body>
</html>
